/* start Globals */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hideGallaryItems {
    display: none;
}

/* End Globals */

/* Start my Custom Framework */

.clearfix {
    clear: both;
}

h2 {
    font-weight: normal;
}
.special-heading {
    position: relative;

}

.special-heading:after {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    width: 55px;
    border-bottom: 3px solid #333;
}

.separator {
    border: 1px solid #EEE;
}

/* End my Custom Framework */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Start navbar */

.navbar {
    font-size: 18x;
    height: 0;
    color: #FFF;
    position: relative;
    z-index: 2;
}

.navbar .brand {
    float: left;
    width: 50%;
    text-transform: uppercase;
    margin-top: 10px;
}

.navbar .links {
    float: left;
    width: 50%;
    margin-top: 25px;
    font-weight: bold;
}

.navbar .links li {
    display: inline-block;
    padding: 10px 0;
    margin: 0 10px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}

.navbar .links li a {
    color: #FFF;
    text-decoration: none;
}

.navbar .links li.active a,
.navbar .links li a:hover {
    color: #1abc9c;
    cursor: pointer;
}

.navbar .links li.active,
.navbar .links li:hover {
    border-bottom: 2px solid #1abc9c ;
    color: #1abc9c;
}
/* End navbar */

/* Start Header */

.header {
    background: url('../imgs/header.jpg');
    position: relative;
}

.header .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    z-index: 1;
}

.header .bx-wrapper {
    height: 100%;
}

.header .bx-wrapper, 
.header .bx-viewport {
    box-shadow: none;
    border: 0;
    background: none;
    height: 100% !important;
    text-align: center;
}

.header .bxslider {
    height: 100%;
}

.header .bxslider li {
    display: block;
   
}

.header .bxslider p {
    font-size: 18px;
}

.header .bxslider li h2 {
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: bold;
}

.header .bxslider li h2 span {
    color: #1abc9c;
}

/* End Header */

/* Start Services */

.services {
    padding: 70px 20px 40px;

}

.services h2 {
    margin: 0 0 50px;
}

.services .item {
    float: left;
    width: 33.33333%;
    margin-bottom: 20px;
}

.services .item i {
    color: #1abc9c;
    float: left;
    width: 20%;
    margin-right: 5%;
    margin-top: 10px;
}

.services .item .info {
    float: left;
    width: 75%;
}

.services .item .info h3 {
    font-weight: normal;
    color: #585353;
    margin-bottom: 15px;
}

.services .item .info p {
    margin-top: 0;
    color: rgb(161, 160, 160);
}
/* End Services */

/* Start Our Team */
.our-team {
    padding: 40px 20px;
}

.our-team .box {
    float: left;
}

.our-team .box:first-child {
    width: 35%;
}

.our-team h2 {
    padding: 0 0 15px;
}

.our-team .box p {
    color: #888;
    line-height: 1.4;
    font-size: 16px;
}

.our-team .box:not(:first-child) {
    width: 15.25%;
    margin-left: 1%;
    border-radius: 50%;
    position: relative;
    transition: all 1s ease-in-out;

}

.our-team .box:not(:first-child) .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    line-height: 183px;
    font-size: 20px;
    font-weight: bold;
    background-color:rgba(26, 188, 156, 0.8);
    display: none;
}

.our-team .box:not(:first-child):hover .overlay {
    display: block;
}

.our-team .box:not(:first-child) img {
    width: 100%;
}
/* End Our Team */


/* Start  Testimonials */
.testimonials {
    background: url('../imgs/testimonials-free-img.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    position: relative;
    text-align: center;
    padding: 80px 0;
}

.testimonials .slider > div {
    display: none;
}

.testimonials .slider .active {
    display: block;
}

.testimonials .test-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: rgba(0, 0, 0, .6);
}

.testimonials h2 {
    font-size: 50px;
    margin: 80px 0 50px;
}

.testimonials q {
    font-size: 20px;
    line-height: 2;
    color: #d0d0d0;
}

.testimonials p {
    font-size: 30px;
    color: #1abc9c;
}
/* End  Testimonials */


/* Start Our Projects */
.projects {
    padding: 80px 0;
}

.projects ul {
    margin-top: 42px;
}

.projects ul li {
    display: inline-block;
    border: 2px solid #aaa;
    padding: 10px;
    color: #aaa;
    border-radius: 5px;
    margin-right: 5px;
}

.projects ul li.selected {
    color: #FFF;
    background-color: #1abc9c;
    border: 2px solid #1abc9c;
}

.projects .gallary {
    margin-top: 50px;
    overflow: hidden;
}


.projects .gallary .row > div:nth-child(2) {
    margin-right: 1%;
    margin-left: 1%;
}

.projects .gallary .row > div {
    width: 32.66666%;
    float: left;
    margin-bottom: 12px;
    background-color: #DDD;
    position: relative;
}

.projects .gallary .row > div img {
    width: 100%;
}

.projects .gallary .row > div .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    line-height: 400px;
    font-size: 20px;
    font-weight: bold;
    background-color:rgba(26, 188, 156, 0.8);
    display: none;
}

.projects .gallary .row .overlay span {
    border: 2px solid #FFF;
    padding: 10px;
}

.projects .gallary .row > div .heart {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #FFF;
    display: none;
}

.projects .gallary .row > div:hover .overlay,
.projects .gallary .row > div:hover .heart {
    display: block;
}

.projects .gallary .row > div:hover .overlay {
    display: block;
    cursor: pointer;
}

.projects .shuffle  li {
    cursor: pointer;
    padding: 10px 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.projects .shuffle li:hover {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #FFF;
    background-color: #1abc9c;
    border: 2px solid #1abc9c;
}


/* End Our Projects */


/* Start Footer */
.footer {
    background-color: #232323;
    color: #6c6c6c;
    padding: 40px 0;
    overflow: hidden;
}

.footer .col {
    width: 25%;
    float: left;

}

.footer .col h2 {
    color: #FFF;
    font-size: 18px;
}

.footer .col p {
    margin-bottom: 40px;
    line-height: 1.5;
}

.footer .social i {
    display: inline-block;
    color: #979797;
    padding: 10px;
    border: 1px solid #979797;
    width: 40px;
    margin-bottom: 30px;
    cursor: pointer;
}

.footer .tags {
    padding: 10px;
}
.footer .tags span {
    display: inline-block;
    color: #ccc;
    padding: 10px;
    border: 1px solid #979797;
    margin-right: 5px;
    margin-bottom: 10px;
}

.footer .recent > div {
    overflow: hidden;
    margin-bottom: 10px;
}

.footer .recent > div img {
    float: left;
    margin-right: 10px;
    width: 80px;
    height: 60px;

}

.footer .recent h4 {
    margin: 6px 0;
    font-weight: normal;
    color: #CCC;
}

.footer .blog ul li {
    padding: 15px;
    border-bottom: 1px solid #979797;
    color: #ccc;
}

.footer .copyright {
    margin-top: 30px;
}
/* End Footer */

/*//////////////////////////////////////// Media ///////////////////////////////////////*/
@media (max-width: 767px) {  /* Mobile and Tablet size   Extra Small xs */ 

    .navbar {
        font-size: 15px;
    }
    .navbar .links {
        width: 60%;
        font-weight: normal;
        margin-top: 20px;
    }
    .navbar .brand {
        padding-left: 10px;
        width: 40%;
        font-size: 18px;
    }
    .navbar .links li{
        text-transform: capitalize;
    }

    .header .bxslider li h2 {
        font-size: 39px;
        font-weight: normal;
    }



}

@media (min-width: 768px) and (max-width: 991px){ /*Small Screen  sm */
    .container {
        width: 780px;
    }

    .navbar {
        font-size: 20px;
    }
    .navbar .links {
        width: 60%;
        font-weight: normal;
        margin-top: 20px;
    }
    .navbar .brand {
        padding-left: 10px;
        width: 40%;
        font-size: 18px;
    }
    .navbar .links li{
        text-transform: capitalize;
    }

    .header .bxslider li h2 {
        font-size: 39px;
        font-weight: normal;
    }

}



@media (min-width: 992px) and (max-width: 1199px) {  /*Medium Screen md */
    .container {
        width: 1000px;
    }

    .navbar {
        font-size: 20px;
    }

    .navbar .links {
        font-weight: normal;
        margin-top: 20px;
    }
    .navbar .links li{
        text-transform: capitalize;
    }

    .header .bxslider li h2 {
        font-size: 50px;
        margin-bottom: 25px;
        font-weight: normal;
    }


}


@media (min-width: 1200px) {  /*Large Screen lg */
    .container {
        width: 1200px;
    }

}




